{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="send-email-already">Письмо на изменение пароля уже было отправлено Вам на почту.</div>
{% endblock fos_user_content %}